<a href="https://colab.research.google.com/github/Jiyeong-Oh/Python1-assignment1/blob/master/0417_Python1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#1-1
a_list=[1, 'hello', [1,2,3], True]

In [2]:
#1-2
print(a_list[1])

hello

In [3]:
#1-3
print(a_list[1:4])

['hello', [1, 2, 3], True]

In [4]:
#1-4
A=[1,'a']
B=[2,1,'d']
C=A.extend(B)
print(C)
print(A)
# when I print out C, the result is 'none'.
# And the second problem is that the result of the A changes

None
[1, 'a', 2, 1, 'd']

In [5]:
# So, to give C the elements and make A to the default list A, I applied some code like following:
C=A
A=[1,'a']
print(A)
print(B)
print(C) #C is the concatenation of A and B.

[1, 'a']
[2, 1, 'd']
[1, 'a', 2, 1, 'd']

In [0]:
#2
soundtrack_dic={'The Bodyguard':'1992','Saturday Night Fever':'1977'}

In [7]:
#2-1
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [8]:
#2-2
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [9]:
#3-1
wanna_make_this_to_set=['rap','house','electronic music','rap']
print(type(wanna_make_this_to_set))

this_is_set=set(wanna_make_this_to_set)
print(this_is_set)
print(type(this_is_set))

<class 'list'>
{'rap', 'house', 'electronic music'}
<class 'set'>

In [10]:
#3-2
A=[1,2,2,1]
B=set([1,2,2,1])
print(A)
print(sum(A))

print(B)
# As B is a set, it does not recognize the identical data to 'different data' 
print(sum(B))
#Therefore, the sum of the A is 1+2+2+1,
# while the sum of the B is 1+2.
# Conclusion: sum(A) is not equivalent to sum(B).

[1, 2, 2, 1]
6
{1, 2}
3

In [11]:
#To check,
A=[1,2,2,1]
B=set([1,2,2,1])
if sum(A)==sum(B):
  print('sum(A) is equivalent to sum(B)')
else:
  print('sum(A) is not equivalent to sum(B)')

sum(A) is not equivalent to sum(B)

In [12]:
#3-3
album_set1= set(['Thriller','AC/DC','Back in Black'])
album_set2= set(['AC/DC','Back in Black','The Dark Side of the Moon'])
album_set3=album_set1|album_set2
print(album_set3)

{'Back in Black', 'AC/DC', 'The Dark Side of the Moon', 'Thriller'}

In [13]:
#3-4
if album_set1.issubset(album_set3):
  print('album_set1 is a subset of album_set3')
else:
  print('album_set1 is not a subset of album_set3')

album_set1 is a subset of album_set3

In [14]:
#4-1

Dict={'Artist':'Michael','Genre':'R&B','Sales':10000}

if Dict['Artist']=='Michael':
  print(Dict['Genre'])
else:
  print('The name of the artist is not Michael')

R&B

In [15]:
#4-2-1

temperature={'value':32,'celsius/fahrenheit':'fahrenheit'}
# I just put the number which calculation with pen is easy(to check whether the program works)

if temperature['celsius/fahrenheit']=='celsius':
  print(temperature['value']*1.8+32,'F')
else:
  print((temperature['value']-32)/1.8,'C')

0.0 C

In [84]:
4-2-2
#I tried to print out L%2, but python spitted out the error message, that
# list cannot be calculated with integer.

L=[1,2,3,5,9,31,28,91]

#Therefore, I searched for some operator which can calculate each element of a list.
even=0
odd=0
for i in L:
  if i % 2 == 0:
    even+=1  
  elif i % 2 == 1:
    odd+=1
print('the number of odd:{},the number of even:{}'.format(odd,even))

the number of odd:6,the number of even:2

In [94]:
#4-2-3

prime=0
L=[1,2,3,5,9,31,28,91]

for i in L:
  if (i <=1):
    del i
  elif (i %2)==0:
    del i
  elif ()
  ....

print('{}'.format(prime))

0