<a href="https://colab.research.google.com/github/Jiyeong-Oh/Python1-assignment1/blob/master/0427_Python1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment #1 

- 1. use "Read_CSV" method to link with your python and the file (TopSellingAlbums.csv)in your google drive.
- 2. practice how to use iloc and loc methods 

<Divide & Conquer Method> 
- 3. make your small database that only includes the following information: 1. Where both the "released year" was later than 1979 and "Music Recording Sales" was larger than 24.  
- 4. from your own small database, find if their "Genre" includes "Rock"?

## question 1

In [1]:
#1. linking the csv file

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

In [3]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

## question 2

In [0]:
#2. practicing iloc and loc methods

In [5]:
a=df[['Artist','Genre','Album','Released']]
#this is not a iloc or loc method, but you can easily select some of the columns of the data like this, and I am going to apply the iloc and loc methods to this 'a'.
a

            Artist  ... Released
0  Michael Jackson  ...     1982
1            AC/DC  ...     1980
2       Pink Floyd  ...     1973
3  Whitney Houston  ...     1992
4        Meat Loaf  ...     1977
5           Eagles  ...     1976
6         Bee Gees  ...     1977
7    Fleetwood Mac  ...     1977

[8 rows x 4 columns]

In [6]:
a.iloc[0,0] #As you see, the iloc method can approach each index of the csv table.
#The index of the iloc method starts from zero, not 1.

'Michael Jackson'

In [7]:
a
#the original data does not change even though I applied the method.(iloc is not used for rewrting the data.)

            Artist  ... Released
0  Michael Jackson  ...     1982
1            AC/DC  ...     1980
2       Pink Floyd  ...     1973
3  Whitney Houston  ...     1992
4        Meat Loaf  ...     1977
5           Eagles  ...     1976
6         Bee Gees  ...     1977
7    Fleetwood Mac  ...     1977

[8 rows x 4 columns]

In [8]:
print(a.iloc[2,3]) #2 is for the third row, and 3 is for the fourth column,
print(df.iloc[2,3])

if (a.iloc[2,3])==(df.iloc[2,3]):
  print('The results are same')
else:
  print('The results are not same, so the components and order of the components are different in "a" and "df".')
 #As the component and its order of components are different(in a and df), the results of the iloc are different.

1973
0:42:49
The results are not same, so the components and order of the components are different in "a" and "df".

In [9]:
# Similarly, loc method can access the data like how the iloc method does.

a.loc[2,'Artist'] #the difference from the iloc method is that loc method uses the keyword of the column.

'Pink Floyd'

In [10]:
# with iloc, slicing is also possible.
slicing_with_iloc = a.iloc[2:4,0] # 2:4 means the third(index 2) and fourth row(index 4-1), and zero means the first column.
print(slicing_with_iloc)
# As you see, we have to be careful with the index number of the iloc method.

2         Pink Floyd
3    Whitney Houston
Name: Artist, dtype: object

In [11]:
# However, the slicing index of the loc method is slightly different from the iloc method.
slicing_with_loc = a.loc[2:4,'Artist']
print(slicing_with_loc) #As you see, the meaning of the ending point is different. 2:4 means the third, fourth and fifth row in loc method.

2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
Name: Artist, dtype: object

In [12]:
# One more special feature of the loc slicing is that you can slice the keyword of the column like following:
slicing_keyword_with_loc=a.loc[2:4,'Artist':'Album']
slicing_keyword_with_loc

            Artist                        Genre                      Album
2       Pink Floyd             progressive rock  The Dark Side of the Moon
3  Whitney Houston               R&B, soul, pop              The Bodyguard
4        Meat Loaf  hard rock, progressive rock            Bat Out of Hell

In [13]:
# You can access certain data by making smaller table like this:
this_is_smaller=df.loc[2:5,'Artist':'Genre']
this_is_smaller

            Artist  ...                        Genre
2       Pink Floyd  ...             progressive rock
3  Whitney Houston  ...               R&B, soul, pop
4        Meat Loaf  ...  hard rock, progressive rock
5           Eagles  ...   rock, soft rock, folk rock

[4 rows x 5 columns]

In [14]:
the_smallest=this_is_smaller.iloc[1,1]
print(the_smallest)

The Bodyguard

## question 3

In [15]:
released_year_filter = df['Released']>1979
recording_sales_filter = df['Music Recording Sales (millions)']>24

small_database = df.where(released_year_filter&recording_sales_filter)
small_database
#Although the small database which only includes data which released year is later than 1979 and recording sale is larger than 24 millions,
#the original database df does not change.(If you want to change the original df, you should add the 'inplace=True' at the end of the where function.)

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

## question 4

In [0]:
# in small_database, only row 0,1, and 3 has information.
#The very first trial to find out whether each row contains rock in their genre category is to compare each row like following:

In [17]:
real_data=small_database.loc[[0,1,3]]
print(real_data)

genre_data=real_data['Genre']
print(genre_data)

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5

[3 rows x 10 columns]
0    pop, rock, R&B
1         hard rock
3    R&B, soul, pop
Name: Genre, dtype: object

In [18]:
# first trial: just comparing each index by following:
if genre_data[0].find('rock')>=0:
  print('row0 has rock in the genre')
else:
  print('row0 does not have rock in the genre')
if genre_data[1].find('rock')>=0:
  print('row1 has rock in the genre')
else:
  print('row1 does not have rock in the genre')
if genre_data[3].find('rock')>=0:
  print('row3 has rock in the genre')
else:
  print('row3 does not have rock in the genre')

row0 has rock in the genre
row1 has rock in the genre
row3 does not have rock in the genre

In [19]:
#Or you can simply extract the row which Genre includes 'rock' using the 'contain' function like following:

small_database2=small_database.loc[small_database['Genre'].str.contains('rock',na=False)]
small_database2

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5

[2 rows x 10 columns]